{% extends "base.html.twig" %}

{% block text %}Obtenez les informations sur le pays de votre choix en cliquant dessus{% endblock %}
{% block body %}
<div class="modal fade fichePays" id="choix" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
                aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                        <div class="modal-header d-flex flex-column justify-content-center align-items-center">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                </button>
                                <h5 class="modal-title text-center" id="exampleModalCenterTitle"></h5>
                        </div>
                        <div class="modal-body d-flex flex-wrap justify-content-center">
                                <div class ="infos"></div>
                                <div class="voisins"></div>
                        </div>
                        <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                        </div>
                </div>
        </div>
</div>
<a href="#appli" class="top"><i class="fas fa-sort-up"></i></a>
<div class="bgh2 d-flex flex-column justify-content-center align-items-center">
       <h2 class="text-center">{{ title }}</h2>
       <a href="#appli" class="down2 show-map"><i class="fas fa-angle-double-down"></i></a>
</div>

<div class="section-appli container-fluid">
    <div class="container px-0" id="appli">
        <div class="row d-flex justify-content-center align-items-start">
            <div class="col-12 d-flex flex-wrap" id="pays"></div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>
<script src="./build/runtime.js"></script>
<script src="./build/listCapital.js"></script>
<script src="./build/app.js"></script>
{{ parent() }}
{% endblock %}