h1 {
    text-align: center;
}
.textimg{
    margin-top: .8 rem;
    font-size: 16px;
    font-weight: 600;
}

.flags {

    width: 80%;
    margin-left: 20%;
    margin-right: 15%;


}

ul {
    width: 18%;
    padding-bottom: 1.5rem;
    margin-left: 2%;
    margin-right: 2%;

}

.bouton {
    background-color: #4D0000ed;
    border-radius: 5%;
    color: #ffffffc4;
    border-color: #4D0000ed;
    margin-top: .5rem;

}

.bouton:active {
    background-color: #ffffffc4;
    color: #4D0000ed;
}


.lb:active{
    transform:scale(8); 
    transform-box: border-box;
   
    
    }

    