body {
    // background:url(img/bg-world.jpeg) 0 0 no-repeat;
    // background-position: center;
    // background-size: cover;
    overflow-x: hidden;
    font-family: 'Signika', sans-serif;


    header {
        // padding-top: 10vh;
        // padding-bottom: 10vh;
        height: 100vh;
        background: linear-gradient(#002c339c, #5600007d), url(img/bg-world.jpeg) no-repeat;
        background-position: center;
        background-size: cover;

        @media (max-width: 575px) {
            padding-top: 15vh;
            padding-bottom: 2vh;
            padding-left: 5vw;
            padding-right: 5vw;
        }

        @media (min-width: 576px) and (max-width: 767px) and (orientation: portrait) {
            padding-top: 10vh;

        }

        @media (min-width: 576px) and (max-width: 767px) and (orientation:landscape) {
            padding-top: 5vh;

        }

        @media (min-width: 768px) and (max-width: 991px) {
            padding-top: 10vh;

        }

        @media (min-width: 992px) and (max-width: 1199px) {
            padding-top: 12vh;

        }

        .haut-de-page {

            a {
                text-decoration: none;
                // color:  #ffffffc4;
                color: #ffff;

                &:hover {
                    text-decoration: none;
                    color: #ffff;
                }
            }

            h1 {
                // color:  #ffffffc4;
                color: black;
                font-family: 'Viga', sans-serif;
                font-size: 5rem;
                text-shadow: 9px 5px 20px rgb(0, 0, 0);
                transition: 0.1s;

                &:hover {
                    transform: scale(1.05);
                }

                a {
                    i {
                        font-size: 3.5rem;

                        @media (min-width: 576px) and (max-width: 767px) {
                            font-size: 2.1rem;
                        }

                        @media (max-width: 575px) {
                            font-size: 2.4rem;
                        }
                    }

                    span {
                        font-family: 'Caveat', cursive;
                    }
                }

                @media (max-width: 575px) {
                    font-size: 3.5rem;
                    letter-spacing: 4px;
                }


                @media (min-width: 576px) and (max-width: 767px) {
                    font-size: 3rem;
                }
            }

            .notice {
                p {
                    font-size: 1.5rem;
                    // color:  #ffffffc4;
                    color: #ffff;
                    text-shadow: 9px 5px 20px rgb(0, 0, 0);

                    @media (max-width: 575px) {
                        font-size: 1rem;
                        padding-top: 5vh;
                    }


                    @media (min-width: 576px) and (max-width: 767px) {
                        font-size: 1.3rem;
                    }
                }
            }


        }
    }

    // cubic-bezier(.22,.68,0,1.20)
    .change-orientation {
        position: fixed;
        top: -60vh;
        right: calc(50% - 34vw);
        height: 50vh;
        width: 68vw;
        padding: 1rem;
        z-index: 3;
        border-radius: 3%;
        box-shadow: 0px 5px 16px #00000087;
        transition: 1s ease-in;
        background: linear-gradient(217deg, white, rgba(166, 219, 254, 0.6) 70.71%), linear-gradient(127deg, #ffffff, #fffffff5 70.71%), linear-gradient(336deg, rgba(255, 0, 0, 0), rgba(255, 48, 48, 0.43) 70.71%);

        p {
            font-size: 1.2rem;
            color: #000000c4;
            margin: 0;

            @media (max-width: 575px) {
                font-size: 1rem;
            }

            @media (min-width: 576px) and (max-width: 767px) and (orientation:landscape) {
                font-size: 1.3rem;
            }
        }

        i {
            font-size: 4rem;
            animation: changeOrientation 2s infinite;
            transition: transform 1s cubic-bezier(.22, .68, 0, 1.20);
            text-shadow: -3px 5px 5px #0000005e;

            @media (max-width: 575px) {
                font-size: 3rem;
            }

            @media (min-width: 576px) and (max-width: 767px) and (orientation:landscape) {
                font-size: 4rem;
            }
        }

        @keyframes changeOrientation {
            0% {
                transform: rotate(0deg);
                color: #000000c4;
            }

            50% {
                transform: rotate(90deg);
                color: white;
            }

            100% {
                transform: rotate(0deg);
                color: #000000c4;
            }
        }

        a {
            margin-top: 10px;
            text-decoration: none;
            color: #000000b5;
            font-size: .85rem;

        }
    }

    .hamburger {
        position: fixed;
        top: 10%;
        left: 10%;
        z-index: 1;
        transition: 0.3s;
        padding: 0px 10px;

        @media (max-width: 575px) {
            top: 2%;
            left: 3%;
        }

        @media (min-width: 576px) and (max-width: 767px) and (orientation: portrait) {
            top: 5%;
            left: 5%;
        }

        @media (min-width: 576px) and (max-width: 767px) and (orientation:landscape) {
            top: 5%;
            left: 5%;
        }

        @media (min-width: 768px) and (max-width: 991px) {
            top: 5%;
            left: 5%;

        }

        @media (min-width: 992px) and (max-width: 1199px) {
            top: 5%;
            left: 5%;

        }

        &:hover div {
            background-color: #b600009d;
            transform: scale(1.2);
            cursor: pointer;
            // transform: translateY(-10px);
        }

        @media (max-width: 575px) {
            width: 32px;
            height: 3px;
            margin: 4px 0px;
        }

        .btn-menu {
            width: 40px;
            height: 5px;
            background-color: white;
            border-radius: 5px;
            margin: 5px 0px;
            transition: .2s ease-out;
            box-shadow: 0px 5px 16px #00000087;

            @media (max-width: 575px) {
                width: 32px;
                height: 3px;
                margin: 4px 0px;
            }


            @media (min-width: 576px) and (max-width: 767px) {
                width: 32px;
                height: 3px;
                margin: 4px 0px;
            }
        }
    }

    .showmenu {
        position: fixed;
        top: 0;
        left: -105vw;
        height: 100vh;
        width: auto;
        background-color: #4d0000fa;
        transition: 1.5s;
        box-shadow: 2px 0px 13px 5px rgba(0, 0, 0, 0.13);
        z-index: 2;

        @media (max-width: 575px) {
            width: 100vw;
        }


        @media (min-width: 576px) and (max-width: 767px) {
            width: 100vw;
        }


        @media (min-width: 768px) and (max-width: 991px) {
            width: auto;
        }


        @media (min-width: 992px) and (max-width: 1199px) {
            width: auto;
        }

        @media (min-width: 1200px) {
            width: auto;
        }

        .separation {
            border: 0;
            height: 1px;
            width: 100%;
            background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
            background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
            background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
            background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
        }

        .menu-liste {
            width: 100%;
            padding-top: 15vh;
            margin-right: 2vw;

            @media (max-width: 575px) and (orientation: landscape) {
                width: 100vw;
                padding-top: 2vh;
            }


            .closeBtn {
                font-size: 1.1rem;
                font-weight: bold;
                color: #ffffff85;
                padding: 0px 8px;
                position: absolute;
                top: 2vh;
                right: 1vw;
                transition: 0.3s ease;
                border: solid 2px #79797973;
                border-radius: 50%;

                &:hover {
                    transform: scale(1.1);
                    color: #4D0000ed;
                    background-color: rgb(184, 184, 184);
                    cursor: pointer;
                }
            }

            .show-map {

                @media (max-width: 768px) {
                    display: none !important;
                }
            }

            .option {
                font-size: 1.15rem;
                color: #ffffffc4;
                padding: 10px 0px;
                margin: 0;
                transition: 0.3s;
                width: 100%;
                transition: 0.3s ease;
                text-decoration: none;

                @media (max-width: 575px) and (orientation: portrait) {
                    padding: 10px 50px !important;
                    font-size: 1.2rem;
                }

                @media (max-width: 575px) and (orientation: landscape) {
                    width: 100vw;
                    padding: 5px 50px !important;
                }


                @media (min-width: 576px) and (max-width: 767px) {
                    padding: 10px 50px !important;
                    font-size: 1.3rem;
                }


                @media (min-width: 768px) and (max-width: 991px) {
                    padding: 10px 50px !important;
                    font-size: 1.3rem;
                }


                @media (min-width: 992px) and (max-width: 1199px) {
                    padding: 10px 30px !important;
                    font-size: 1.3rem;
                }

                @media (min-width: 1200px) and (max-width: 1585px) {
                    padding: 10px 0px;
                    font-size: 1.1rem;
                }

                &:hover {
                    transform: translateY(-2px);
                    background-color: #ffff;
                    color: #4d0000fa;
                    cursor: pointer;
                }
            }

            .sous-menu-continents {
                margin-bottom: 0 !important;
                width: 100%;

                a {
                    list-style: none;
                    text-decoration: none;

                    .continent {
                        font-size: 1rem;
                        color: #ffffffc4;
                        padding: 5px 0px;
                        transition: 0.3s;
                        width: 100%;
                        list-style: none;
                        transition: 0.3s ease;

                        &:hover {
                            transform: translateY(-2px);
                            background-color: #ffff;
                            color: #4D0000ed;
                            cursor: pointer;
                        }
                    }
                }
            }
        }

        .menu-footer {
            position: absolute;
            bottom: 5vh;
            width: 100%;

            p {
                color: rgba(255, 255, 255, 0.685);
                font-size: .8777rem;
            }
        }
    }
    .section-appli{
        background: linear-gradient(#0094b5bd, #00c5ff99), url(img/bg-appli.svg);       
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        #appli {
            padding: auto 0;

            #selectContinent,
            #pays {

                div {

                    .miniFlag {
                        margin: 7px 0px;
                        width: 11%;
                        height: 20px;

                        @media (min-width: 768px) and (max-width: 991px) {
                            margin: 13px 0px;
                            height: 50px;

                        }

                        @media (min-width: 576px) and (max-width: 767px) {
                            margin: 13px 0px;
                            height: 40px;
                        }

                        @media (max-width: 575px) and (orientation: landscape) {
                            margin: 7px 0px;
                            height: 35px;
                        }

                    }
                }
            }

            min-height: 100vh;
            position: relative;
        }
    }

    .infos {
        position: absolute;
        top: 14%;
        right: 10%;
            i{
            font-size: 2.7rem;
            color: white;
            transition: .3s;
            &:hover{
                transform: translateX(4px);
                color: #b600009d;
                cursor: pointer;
            }
            }

        .show-info {
            color: white;
            animation: p-infos 5s cubic-bezier(0.5, 0, 0.5, 1)forwards;
        }

        @keyframes p-infos {
            0% {
                opacity: 0;
                transform: translateX(60vh);
            }

            16% {
                opacity: 1;
                transform: translateX(0vh);
            }

            84% {
                opacity: 1;
                transform: translateX(0vh);
            }

            95% {
                opacity: 0;
                transform: translateX(30vh);
            }

            100% {
                opacity: 0;
                transform: translateX(60vh);
            }
        }

        .t-info {
            display: none;
        }
    }

    .map {
        padding-top: 5vh;
        padding-bottom: 5vh;
        min-height: 100vh;
        background-color: #000000e6;
        position: relative;

        @media (max-width: 768px) {
            display: none !important;
        }

        .map__image {
            width: 70%;
            float: left;

            &.landscape {
                width: 80%;
            }


            @media (max-width: 575px) {
                width: 100%;
            }

            @media (min-width: 576px) and (max-width: 767px) and (orientation:portrait) {
                width: 100%;
            }

            @media (min-width: 576px) and (max-width: 767px) and (orientation:landscape) {
                width: 80%;
            }

            // visibility: hidden;
        }

        .map__image path {

            fill: #00768ecc;
            stroke: #FFF;
            stroke-width: 1px;
            transition: all 0.3s;

        }

        .map__image path:hover {

            fill: #edede8;
            stroke: #FFF;
            stroke-width: 1px;
        }

        .map__list {
            float: right;
            width: 50%;
            display: none;

            a {
                color: inherit;
                text-decoration: none;
                transition: color 0.3s;
            }
        }
    }

}