

.separation {
    height: 10px;
    width: 40%;
	border: 0;
	box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

#selectContinent, #pays, #flag{
    max-height: 67vh;
    overflow: auto;
    padding-top: 10px;
    @media (max-width: 575px) { 
        max-height: 67vh;
    }


   @media (min-width: 576px) and (max-width: 767px) { 

    }


   @media (min-width: 768px) and (max-width: 991px) { 

    }


   @media (min-width: 992px) and (max-width: 1199px) { 

    }


   @media (min-width: 1200px) { 

   }
    .liste-pays{
        list-style: none;
        font-size: 1rem;
        transition: .3s;
        &:hover{
            color: #dc3545;
            transform: translateY(-5px);
        }
    }
}