#selectContinent, #pays, #flag{
    // max-height: 80vh;
    overflow: auto;
    padding-top: 10px;
    @media (max-width: 575px) { 
        max-height: 100vh;
    }


   @media (min-width: 576px) and (max-width: 767px) { 
        max-height: 100vh;

    }


   @media (min-width: 768px) and (max-width: 991px) and (orientation: portrait) { 
        max-height: 95vh;

    }
    @media (min-width: 768px) and (max-width: 991px) and (orientation: landscape) { 
        max-height: 90vh;
    }



   @media (min-width: 992px) and (max-width: 1199px) { 
        max-height: 65vh;

    }

    .liste-pays, .liste-capitale{
        list-style: none;
        font-size: 1.5rem;
        // transition: .3s;
        border-bottom: 3px solid transparent;
        -webkit-transition: all ease-in-out 0.3s;
        -o-transition: all ease-in-out 0.3s;
        transition: all ease-in-out 0.3s;
        position: relative;
        display: inline-block;
        &:after{
            content: '';
            position: absolute;
            left: 0;
            display: inline-block;
            height: 1em;
            width: 100%;
            border-bottom: 3px solid rgb(255, 78, 78);
            margin-top: 15px;
            opacity: 0;
              -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
              transition: opacity 0.35s, transform 0.35s;
              -webkit-transform: scale(0,1);
              transform: scale(0,1);
        }
       &:hover{
           color: rgb(255, 255, 255);
           transform: translateY(-5px);
       }
        &:hover:after {
            opacity: 1;
            -webkit-transform: scale(1);
            transform: scale(1);
        }
        @media (max-width: 575px) { 
            font-size: 1.5rem;
        }
    
    
       @media (min-width: 576px) and (max-width: 767px) { 
            font-size: 2rem;
    
        }
    
    
       @media (min-width: 768px) and (max-width: 991px) { 
            font-size: 2rem;
    
        }
    
    
       @media (min-width: 992px) and (max-width: 1199px) { 
            font-size: 1.5rem;
    
        }
    }
}