@import 'home';
@import 'flags';

    .notice{
        p{
            font-size: 1.5rem;
            color: black;
        }
    }
    #pays {
        display: none;
    }
    #choix{
        display: none;
        background-color:aquamarine;
        svg {
            width: 150px;
            height: 150px;
        }
    }
