@import 'home';
@import 'flags';
@import 'capitale';
    .notice{
        p{
            font-size: 1.5rem;
            color: black;
        }
    }
    .fichePays {
        display: none;
    }
    #choix{
        background-color:aquamarine;
        svg {
            width: 150px;
            height: 150px;
        }
    }