@import 'home';
@import 'flags';
@import 'capitale';
    .notice{
        p{
            font-size: 1.5rem;
            color: black;
        }
    }
    #choix{
        // background-color:aquamarine;
        svg {
            width: 150px;
            height: 150px;
        }
    }
    .modal-dialog{
        position: relative;
        top: 30vh;
    }